<div class="flex justify-center items-center">
    <div class="text-[13px] md:text-base lg:text-md xl:text-lg px-3 sm:px-5 shadow-(color:--my-color) shadow-[0_-10px_15px_-3px_rgba(0,0,0,0.25)] rounded-xl min-w-full  pb-2 pt-2">
        <div class="flex flex-wrap justify-center">
            <p class="text-center after:content-[' '] after:inline-block after:min-w-2">Design inspiration: <a target="_blank"  href="https://youtu.be/dImgZ_AH7uA?si=Eo7VE4a71p9oEgag"><span class="text-(--my-color)">Cristian Mihai</span></a> + My own,</p>
            <p class="text-center">Made with <i class="fa-solid fa-heart text-(--my-color)"></i> by <span class="text-(--my-color)">Gopinath</span>.</p>
        </div>
        <p class="text-center">© 2025 Gopinath — All Rights Reserved.</p>
    </div>
</div>