<div class="min-w-full min-h-full relative">
    <div>
        <h1 class="text-2xl md:text-2xl lg:text-3xl xl:text-4xl font-bold text-center"><span class="text-(--my-color)">|</span>Projects<span class="text-(--my-color)">|</span></h1>
    </div>
    <div>
        <section class="">
         <div class="card__container swiper">
            <div class="card__content">
               <div class="swiper-wrapper">
                  <article class="card__article swiper-slide">
                     <div class="card__image">
                        <img src="assets/img/project1.webp" alt="image" class="card__img rounded-2xl min-w-full min-h-full object-center">
                        <div class="card__shadow"></div>
                     </div>
                     <div class="card__data min-h-[50%] flex flex-col justify-center pt-8">
                        <div class="flex justify-between min-w-full">
                            <div class="text-lg md:text-xl lg:text-2xl font-bold text-(--my-color)">Tic Tac Toe</div>
                            <div>
                                <a target="_blank"  href="https://github.com/Gopinath5002/tic-tac-toe" class="w-10 h-10 border-2 text-xl border-(--my-color) p-3 rounded-full text-(--my-color) hover:bg-(--my-color) dark:hover:text-black dark:active:text-black dark:focus:text-black hover:text-white hover:scale-110 active:bg-(--my-color) active:text-white active:scale-110 focus:bg-(--my-color) focus:text-white focus:scale-110 transition-all duration-300 ease-in-out flex items-center justify-center">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </div>
                        </div>
                        <div class="mt-5 text-base md:text-md lg:text-lg xl:text-xl max-h-[12ch] md:max-h-[8ch] overflow-y-scroll">Designed a rule-based gameplay system limiting each player to 3 X’s and 3 O’s, with automatic removal of the oldest symbol. Implemented a visual removal indicator and modern theme-based UI (dark/light mode) for enhanced strategy and user experience.
                        </div>
                        <div class="mt-5 text-(--my-color) text-lg md:text-xl lg:text-2xl mb-2">Python, Custom-Tkinter</div>
                    </div>
                    <div class="min-h-5"></div>
                  </article>
                  <article class="card__article swiper-slide">
                     <div class="card__image">
                        <img src="assets/img/project2.webp" alt="image" class="card__img rounded-2xl min-w-full min-h-full object-center">
                        <div class="card__shadow"></div>
                     </div>
                     <div class="card__data min-h-[50%] flex flex-col justify-center pt-8">
                        <div class="flex justify-between min-w-full">
                            <div class="text-lg md:text-xl lg:text-2xl font-bold text-(--my-color)">Portfolio - Static version</div>
                            <div>
                                <a target="_blank"  href="https://github.com/Gopinath5002/portfolio-static-version" class="w-10 h-10 border-2 text-xl border-(--my-color) p-3 rounded-full text-(--my-color) hover:bg-(--my-color) dark:hover:text-black dark:active:text-black dark:focus:text-black hover:text-white hover:scale-110 active:bg-(--my-color) active:text-white active:scale-110 focus:bg-(--my-color) focus:text-white focus:scale-110 transition-all duration-300 ease-in-out flex items-center justify-center">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </div>
                        </div>
                        <div class="mt-5 text-base md:text-md lg:text-lg xl:text-xl max-h-[12ch] md:max-h-[8ch] overflow-y-scroll">Developed a clean, responsive portfolio website using HTML, Tailwind CSS, and JavaScript to present my skills, projects, experience, education and achievements. Implemented smooth UI interactions, theme consistency, and a modular layout for future expansion. A dynamic, database-powered version is currently in progress.
                        </div>
                        <div class="mt-5 text-(--my-color) text-lg md:text-xl lg:text-2xl mb-2">HTML, Tailwind CSS, JavaScript</div>
                    </div>
                    <div class="min-h-5"></div>
                  </article>
                  <article class="card__article swiper-slide">
                     <div class="card__image">
                        <img src="assets/img/project3.webp" alt="image" class="card__img rounded-2xl min-w-full min-h-full object-center">
                        <div class="card__shadow"></div>
                     </div>
                     <div class="card__data min-h-[50%] flex flex-col justify-center pt-8">
                        <div class="flex justify-between min-w-full">
                            <div class="text-lg md:text-xl lg:text-2xl font-bold text-(--my-color)">Calculator</div>
                            <div>
                                <a target="_blank"  href="https://github.com/Gopinath5002/calculator" class="w-10 h-10 border-2 text-xl border-(--my-color) p-3 rounded-full text-(--my-color) hover:bg-(--my-color) dark:hover:text-black dark:active:text-black dark:focus:text-black hover:text-white hover:scale-110 active:bg-(--my-color) active:text-white active:scale-110 focus:bg-(--my-color) focus:text-white focus:scale-110 transition-all duration-300 ease-in-out flex items-center justify-center">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </div>
                        </div>
                        <div class="mt-5 text-base md:text-md lg:text-lg xl:text-xl  max-h-[12ch] md:max-h-[8ch] overflow-y-scroll">Developed a GUI-based calculator using Python and Tkinter, supporting basic arithmetic operations with clear/delete functions and a user-friendly interface for efficient interaction.
                        </div>
                        <div class="mt-5 text-(--my-color) text-lg md:text-xl lg:text-2xl mb-2">Python, Tkinter</div>
                     </div>
                  </article>
               </div>
            </div>
            <div class="swiper-button-next">
               <i class="ri-arrow-right-s-line text-(--my-color)!"></i>
            </div>
            <div class="swiper-button-prev">
               <i class="ri-arrow-left-s-line text-(--my-color)!"></i>
            </div>
            <div class="swiper-pagination text-(--my-color)!"></div>
         </div>
      </section>
    </div>
</div>
